.aboutBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 112px 25% 112px 25%;
}

.aboutBlurb h1 {
  margin-bottom: 5px;
}

.aboutBlurb p {
  font-size: 20px;
  line-height: 40px;
}

.divider {
  width: 100px;
  border-bottom: 3px solid #c1363c;
  margin-bottom: 18px;
  margin-top: 18px;
}

.aboutBlurb .divider:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 1500px) {
  .aboutBlurb {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 400px) {
  .aboutBlurb {
    margin-left: 10%;
    margin-right: 10%;
  }

  .aboutBlurb h1 {
    font-size: 25px;
  }

  .aboutBlurb p {
    font-size: 18px;
  }

}
