.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}

.header-container h1 {
  color: #ffffff;
  margin-top: 50px;
  font-size: 45px;
}

@media screen and (max-width: 800px) {
  .header-container h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .header-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 470px) {
  .header-container h1 {
    font-size: 25px;
  }
}
